on:
    push:
        tags:
            - '*'

name: Publish
jobs:
    verify:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v1
              with:
                  node-version: ^14
                  registry-url: 'https://registry.npmjs.org'
            - run: yarn install --frozen-lockfile
            - run: yarn test
            - run: npm publish --access public
              env:
                  NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
